/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff3e6; 
}

h1 {
    text-align: center;
    color: #d9534f; 
    margin-bottom: 30px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.restaurant-class {
    border: 2px solid #ffcc00; 
    border-radius: 10px;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.restaurant-class:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.restaurant-name {
    font-size: 1.6em;
    color: #5cb85c; 
    margin: 0;
}

.restaurant-rating {
    font-size: 1.4em;
    color: #ffcc00; 
    margin: 5px 0; 
}